force-app/main/default/flows/Bank_Feed_Accounts_Expiration_Date_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Expiring_soon_email</name>
        <label>Expiring soon email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Clean_bank_accounts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>NotificationContacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Bank Feed account authorization ending</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;span style=&quot;color: rgb(41, 42, 46); font-family: &amp;quot;Atlassian Sans&amp;quot;, ui-sans-serif, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Ubuntu, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Dear Bank Feed Customer,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;The authorization for bank account(s) &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!RelatedBankAccountNames}&lt;/span&gt;  is expiring soon. If you want to continue to use this bank account, please &lt;a href=&quot;https://docs.findock.com/reconciliation/findock-bank-feed#reauthorizing-a-connected-account&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(24, 104, 219);&quot;&gt;reauthorize the connection&lt;/a&gt; to ensure FinDock can continue to import transactions with interruption.&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;The FinDock Team&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_expired_email</name>
        <label>Expired email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Clean_bank_accounts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>NotificationContacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Bank Feed account authorization expired</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;span style=&quot;color: rgb(41, 42, 46); font-family: &amp;quot;Atlassian Sans&amp;quot;, ui-sans-serif, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Ubuntu, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Dear Bank Feed Customer,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(41, 42, 46); font-family: &amp;quot;Atlassian Sans&amp;quot;, ui-sans-serif, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Ubuntu, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;The authorization for bank account(s) &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!RelatedBankAccountNames} &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(41, 42, 46); font-family: &amp;quot;Atlassian Sans&amp;quot;, ui-sans-serif, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Ubuntu, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px;&quot;&gt;has expired. FinDock cannot import transaction from the account until the connection is reauthorized. If you want to continue to use this bank account, please &lt;/span&gt;&lt;a href=&quot;https://docs.findock.com/reconciliation/findock-bank-feed#reauthorizing-a-connected-account&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(24, 104, 219); font-family: &amp;quot;Atlassian Sans&amp;quot;, ui-sans-serif, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Ubuntu, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px;&quot;&gt;reauthorize the connection&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(41, 42, 46); font-family: &amp;quot;Atlassian Sans&amp;quot;, ui-sans-serif, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Ubuntu, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(41, 42, 46); font-family: &amp;quot;Atlassian Sans&amp;quot;, ui-sans-serif, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Ubuntu, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(41, 42, 46); font-family: &amp;quot;Atlassian Sans&amp;quot;, ui-sans-serif, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Ubuntu, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;The FinDock Team&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Bank_Account_Names</name>
        <label>set Bank Account Names</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RelatedBankAccountNames</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!RelatedBankAccountNames}{!on_Related_Bank_Accounts.IBAN__c},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>on_Related_Bank_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clean_bank_accounts</name>
        <label>Clean bank account names</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RelatedBankAccountNames</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>on_Authorizations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Format_Bank_Account_Names</name>
        <label>Format Bank Account Names</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RelatedBankAccountNames</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormattedRelatedBankAccountNames</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Expiration_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>formatted email addresses</description>
        <name>Format_Email_addresses</name>
        <label>Format Email addresses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NotificationContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormattedEmailAddresses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>on_Authorizations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Bank_Account_Ids</name>
        <label>Set Bank Account Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>BankAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Bank_Account_Ids.Bank_Feed_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bank_Account_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_email_adresses</name>
        <label>Set email adresses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NotificationContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!NotificationContacts}{!foreach_NotificationContacts.Email__c}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>foreach_NotificationContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Id_list</name>
        <label>Set Authorization Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AuthorizationIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>on_Bank_Feed_Authorizations.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>on_Bank_Feed_Authorizations</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Filter bank accounts per authorization</description>
        <name>Filter_by_Authorization</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Bank Authorization Accounts by Authorization</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_by_Authorization</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Bank_Authorization_Accounts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_by_Authorization.Bank_Feed_Authorization__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>on_Authorizations.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>on_Related_Bank_Authorization_Accounts</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Related_Bank_Accounts</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Related Bank Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Related_Bank_Accounts</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Bank_Accounts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Related_Bank_Accounts.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>on_Related_Bank_Authorization_Accounts.Bank_Feed_Account__r.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>on_Related_Bank_Accounts</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>Is expired or expiring soon?</description>
        <name>Expiration_Status</name>
        <label>Expiration Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Clean_bank_accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expired</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>on_Authorizations.Expiry_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NOW</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>on_Authorizations.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_expired_email</targetReference>
            </connector>
            <label>Expired</label>
        </rules>
        <rules>
            <name>Expiring_Soon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>on_Authorizations.Expiry_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NOW</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>on_Authorizations.Expiry_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Next_Two_Weeks</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expiring_soon_email</targetReference>
            </connector>
            <label>Expiring Soon</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_any</name>
        <label>Is there any Authorizations?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bank_Feed_Authorization</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>on_Bank_Feed_Authorizations</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_any_bank_auth_accounts</name>
        <label>Is there any related Bank Authorization Accounts?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_bank_accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bank_Authorization_Accounts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bank_Account_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormattedEmailAddresses</name>
        <dataType>String</dataType>
        <expression>LEFT({!NotificationContacts}, LEN({!NotificationContacts}) - 2)</expression>
    </formulas>
    <formulas>
        <description>make it concanated with comma</description>
        <name>FormattedRelatedBankAccountNames</name>
        <dataType>String</dataType>
        <expression>LEFT({!RelatedBankAccountNames}, LEN({!RelatedBankAccountNames}) - 2)</expression>
    </formulas>
    <formulas>
        <description>NOW() + 14days</description>
        <name>Next_Two_Weeks</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + 14</expression>
    </formulas>
    <formulas>
        <description>NOW()</description>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Bank Feed Accounts Expiration Date Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Bank Feed Accounts Expiration Date Reminder</label>
    <loops>
        <name>Bank_Account_Ids</name>
        <label>on Bank Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Bank_Authorization_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Bank_Account_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Bank_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>foreach_NotificationContacts</name>
        <label>on NotificationContacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Notification_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_email_adresses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Format_Email_addresses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop on Authroziation to get related bank accounts</description>
        <name>on_Authorizations</name>
        <label>on Authorizations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Bank_Feed_Authorization</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_by_Authorization</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>foreach BankFeedAuthorization</description>
        <name>on_Bank_Feed_Authorizations</name>
        <label>on Bank Feed Authorizations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Bank_Feed_Authorization</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Id_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Bank_Authorization_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>on_Related_Bank_Accounts</name>
        <label>on Related Bank Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Related_Bank_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Bank_Account_Names</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>on_Related_Bank_Authorization_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>on_Related_Bank_Authorization_Accounts</name>
        <label>on Related Bank Authorization Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_by_Authorization</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Related_Bank_Accounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Format_Bank_Account_Names</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get related bank accounts</description>
        <name>Get_Bank_Accounts</name>
        <label>Get Bank Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Notification_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>BankAccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bank_Account__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IBAN__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get bank accounts</description>
        <name>Get_Bank_Authorization_Accounts</name>
        <label>Get Bank Authorization Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_any_bank_auth_accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bank_Feed_Authorization__c</field>
            <operator>In</operator>
            <value>
                <elementReference>AuthorizationIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bank_Feed_Authorization_Account__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Bank_Feed_Authorization__c</queriedFields>
        <queriedFields>Bank_Feed_Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get bank feed authorizations</description>
        <name>Get_Bank_Feed_Authorization</name>
        <label>Get Bank Feed Authorization</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_any</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expiry_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Next_Two_Weeks</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bank_Feed_Authorization__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Expiry_Date__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get email addresses of notification contacts (product)</description>
        <name>Get_Notification_Contacts</name>
        <label>Get Notification Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>foreach_NotificationContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product</stringValue>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Notification_Contacts__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bank_Feed_Authorization</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2025-08-04</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AuthorizationIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BankAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Count_Authorizations</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_Bank_Accounts_by_BankAccountAuthorizations</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bank_Feed_Authorization_Account__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_by_Authorization</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bank_Feed_Authorization_Account__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Related_Bank_Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bank_Account__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bank_Feed_Authorization_Account__c</objectType>
    </variables>
    <variables>
        <name>NotificationContacts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Relatedbankaccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bank_Account__c</objectType>
    </variables>
    <variables>
        <description>Related bank acocunt names concanated with comma</description>
        <name>RelatedBankAccountNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
